.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  font-family: "Lora", serif;
  align-items: center;
  flex-direction: column;
  color: #444;
}

.headerTitlesSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTtileLg {
  position: absolute;
  top: 18%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 50px;
  object-fit: cover;
}
